<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>status</key>
	<string>1</string>
	<key>data</key>
	<array>
		<dict>
			<key>date</key>
			<string>2016-12</string>
			<key>data</key>
			<array>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>1</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>333</string>
					<key>backMoney</key>
					<string>32</string>
					<key>day</key>
					<string>2</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>3</string>
					<key>sellMoney</key>
					<string>5643</string>
					<key>backMoney</key>
					<string>32</string>
					<key>day</key>
					<string>3</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>4</string>
					<key>sellMoney</key>
					<string>4444</string>
					<key>backMoney</key>
					<string>2</string>
					<key>day</key>
					<string>4</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>5</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>5</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>0</string>
					<key>sellMoney</key>
					<string>344</string>
					<key>backMoney</key>
					<string>23</string>
					<key>day</key>
					<string>6</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>date</key>
			<string>2017-01</string>
			<key>data</key>
			<array>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>1</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>333</string>
					<key>backMoney</key>
					<string>32</string>
					<key>day</key>
					<string>2</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>3</string>
					<key>sellMoney</key>
					<string>5643</string>
					<key>backMoney</key>
					<string>32</string>
					<key>day</key>
					<string>3</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>4</string>
					<key>sellMoney</key>
					<string>4444</string>
					<key>backMoney</key>
					<string>2</string>
					<key>day</key>
					<string>4</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>5</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>5</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>0</string>
					<key>sellMoney</key>
					<string>344</string>
					<key>backMoney</key>
					<string>23</string>
					<key>day</key>
					<string>6</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>date</key>
			<string>2017-02</string>
			<key>data</key>
			<array>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>1</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>333</string>
					<key>backMoney</key>
					<string>32</string>
					<key>day</key>
					<string>2</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>3</string>
					<key>sellMoney</key>
					<string>5643</string>
					<key>backMoney</key>
					<string>32</string>
					<key>day</key>
					<string>3</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>4</string>
					<key>sellMoney</key>
					<string>4444</string>
					<key>backMoney</key>
					<string>2</string>
					<key>day</key>
					<string>4</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>5</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>5</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>0</string>
					<key>sellMoney</key>
					<string>344</string>
					<key>backMoney</key>
					<string>23</string>
					<key>day</key>
					<string>6</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
				<dict>
					<key>sellStatue</key>
					<string>1</string>
					<key>sellMoney</key>
					<string>1000</string>
					<key>backMoney</key>
					<string>99</string>
					<key>day</key>
					<string>7</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
